/* Font colors */
$base-font-size:15px;
$base-font-family:"Segoe UI","Segoe WP","Segoe Regular",sans-serif;
$base-font-color:#444;
$base-font-line-height:1.7em;

$header-font-weight:500;

$hyperlink-color:#1A8EF1;
$hyperlink-color-hover:#23527c;
$hyperlink-color-active:#E91315;
$disabled-color:rgb(200, 200, 200);

/* search */
$search-color-bg:#f0f0f0;

/* btn */
$btn-color-border:#ccc;

$color-danger:#f00;

/* Background colors */
$primary-color:#190F3E;
$secondary-color:#E91315;
$light-color:#F0F0F0;
$dark-color:#190F3E;

/* showcase area */
$showcase-height:400px;
$showcase-image:'../img/showcase.jpg';

$csssp:'../img/csssp.png';
$img-logo:'../img/logo_malton_coachworks.jpg';

/* offset: margins & paddings */
$offset-0:0px;
$offset-0-5:5px;
$offset-1:10px;
$offset-2:20px;
$offset-3:30px;
$offset-4:40px;
$offset-g1:15px;
$offset-g2:30px;