<section class="section-main" ng-controller="contactCtrl">
<div class="container">
    <div class="row">
        <div class="col-xxxs-12 col-xxs-12 col-xs-6 margin-bottom-2">       
            
            <contact-form></contact-form>

        </div>
        <div class="col-xxxs-12 col-xxs-12 col-xs-6">
            <div class="block block-primary-head padding-0">
                <h3><i class="fa fa-home margin-right-1"></i>Our Location</h3>
                <div class="block-content border-bottom-0">
                    <ul class="list-location">
                        <li><h4>Malton Coachworks</h4></li>
                        <li>Showfield Lane Industrial Estate</li>
                        <li>Malton, North Yorkshire</li>
                        <li>YO17 6BT UK</li>
                        <li>Phone: <a href="tel:+441653692090">01653 692090</a></li>
                    </ul>
                </div>
                <div class="block-content border-top-0">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1168.5742723368107!2d-0.798371521613497!3d54.14201555833191!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487f2a468dae03f9%3A0x6bba0f34182e8fe4!2sMalton+Coach+Works!5e0!3m2!1sen!2scz!4v1460401631788" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
</section>