<section class="section-main">

    <div class="container" ng-show="isSearchable">
        <div class="row margin-bottom-2">
            <div class="col-xs-12">

                <h1 ng-bind="searchResultsTitle"></h1>

                <search-results-tags ng-if="filterTagArr.length>1 && products.length>=10" 
                    filter-label="'Filter pages'"
                    results-count="products.length" 
                    results-tag-threshold="10"
                    results-tag-arr="filterTagArr" 
                    results-tag-name-arr="filterTagLabelArr"></search-results-tags>

                <span class="padding-g1" ng-if="pendingRequest">Loading...</span>

                <ul class="list-search-results" ng-if="!pendingRequest">
                    <li ng-repeat="item in products | filter: { filterTag: filterTagSelected ? filterTagSelected : '' }" class="row">

                        <div class="img-wrap col-xs-3">
                            <a ui-sref="{{dylink}}({id: item.id, name: sanitizeURL(item.name), q: sanitizeKeywordsIn(sqlKeyword) })" title="Link to {{item.name}}">
                                <img ng-if="item.image_large"
                                    data-sizes="auto"
                                    data-src="{{ imgDir + item.image_large }}"
                                    data-srcset="{{ imgDir + item.image_large }} 300w,
                                    {{ imgDirLarge + item.image_large }} 600w,
                                    {{ imgDirLarge + item.image_large }} 900w"
                                    class="lazyload"/>
                                
                                <img ng-if="!item.image_large" src="app/img/no-good.png">
                            </a>
                        </div>
                        <div class="text-wrap col-xs-9">
                            <h3><a ui-sref="{{dylink}}({id: item.id, name: sanitizeURL(item.name), q: sanitizeKeywordsIn(sqlKeyword) })" title="Link to {{item.name}}">{{item.name}}</a></h3>
                            <p ng-if="item.detail_5" class="hidden-xxs-down">{{item.snippet}}</p>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>

</section>